<!-- views/home.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Acortador de Enlaces</title>
  <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=yes'>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <ul class="navbar-nav me-4 mb-2 mb-lg-0 float-right">
          <li class="mx-4">Hola, <%= user.displayName %>!</li>
          <li class="mx-auto"><a href="/auth/logout">Cerrar sesión</a></li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
  
  <div class="container">
    <div class="row ps-3">
      <div class="col-md-auto col-md-offset-3">
        <h1 class="text-center">¡Acorta tus enlaces!</h1>
        <% if (addError) { %>
          <div class="alert alert-danger">
            <strong>Error:</strong>
            <%= addError %>
          </div>
        <% } %>
        <% if (addSuccess) { %>
          <div class="alert alert-success">
            <strong>¡Éxito!</strong> Tu enlace se ha acortado a: <a href="<%= addSuccess %>">
              <%= addSuccess %>
            </a>
          </div>
        <% } %>
        <hr>
        <h2>Enlaces acortados:</h2>
        <% if (links.length> 0) { %>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>URL original</th>
                <th>URL acortada</th>
                <th>Usos</th >
                <th>Fecha</th>
                <th>Eliminar</th>
              </tr>
            </thead>
            <tbody>
              <% links .forEach(function(link) { %>
                <tr>
                  <td>
                    <%= link.url_original %>
                  </td>
                  <td>
                    <a href="redir/<%= link.short_url %>"><%= link.short_url %></a>
                  </td>
                  <td>
                    <%= link.usos %>
                  </td>
                  <td>
                    <%= link.fecha %>
                  </td>
                  <td>
                    <!-- <a href="/edit/<%= link.id %>">Editar</a> -->
                    <a href="delete/<%= link.id %>"
                      onclick="return confirm('¿Estás seguro de que quieres borrar este enlace?')">Borrar</a>
                  </td>
                </tr>
                <% }); %>
            </tbody>
          </table>
        <% } else { %>
          <p>No hay enlaces acortados todavía.</p>
        <% } %>
        <hr>
        <h2>Añadir nuevo enlace:</h2>
        <form method="post" action="/add">
          <div class="form-group">
            <label for="newUrl">URL original:</label>
            <input type="text" class="form-control" id="newUrl" name="newUrl"
              placeholder="Introduce la URL que quieres acortar" required>
          </div>
          <button type="submit" class="btn btn-primary my-2">Acortar</button>
        </form>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/06194f4708.js" crossorigin="anonymous"></script>
</body>

</html>