<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Acortador de Enlaces</title>
  <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=yes'>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">  
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="/">Acortador de Enlaces</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <% if (user) { %>
          <li><a href="/mylinks">Mis enlaces</a></li>
          <% } %>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if (user) { %>
          <li><a href="#">Hola, <%= user.displayName %>!</a></li>
          <li><a href="/auth/logout">Cerrar sesión</a></li>
          <% } else { %>
          <li><a href="/auth/google">Iniciar sesión con Google</a></li>
          <% } %>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h1 class="text-center">¡Acorta tus enlaces!</h1>
        <% if (error) { %>
        <div class="alert alert-danger">
          <strong>Error:</strong> <%= error %>
        </div>
        <% } %>
        <% if (success) { %>
        <div class="alert alert-success">
          <strong>¡Éxito!</strong> Tu enlace se ha acortado a: <a href="<%= success %>"><%= success %></a>
        </div>
        <% } %>
        <form method="post" action="/">
          <div class="form-group">
            <label for="url">URL original:</label>
            <input type="text" class="form-control" id="url" name="url" placeholder="Introduce la URL que quieres acortar" value="<%= url %>" required>
          </div>
          <div class="form-group">
            <label for="customUrl">URL personalizada (opcional):</label>
            <div class="input-group">
              <span class="input-group-addon"><%= baseUrl %></span>
              <input type="text" class="form-control" id="customUrl" name="customUrl" placeholder="Introduce una cadena de texto para personalizar la URL" value="<%= customUrl %>">
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Acortar</button>
        </form>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/06194f4708.js" crossorigin="anonymous"></script>

</body>
</html>
